<h1>Create a Post</h1>

<%= form_for @post do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<br>
<%= f.label :content %>
<%= f.text_area :content %>
<br>
<%= f.collection_check_boxes :category_ids, Category.all, :id, :name, include_hidden: false %>



<%= f.submit %>
<% end %>
<br>



<%= link_to "All posts", posts_path %>
